---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Matthew Aisthorpe" description="About Matthew Aisthorpe">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="From full-stack developer to Agile leader, crafting impactful digital experiences."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Matthew Aisthorpe standing in a room looking professional and welcoming."
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						<b>Hello!</b> I'm Matthew, an accomplished professional in the interactive digital industry, with a robust background in software development and agile project management. Over a decade of combined experiences, I've been instrumental in leading teams and projects that streamline processes with innovative technology and user-centric design.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Career Highlights</h2>
				<div class="content">
					<ul>
						<li><b>Project Leader at CQUniversity:</b> Led critical digital transformation initiatives, including the adoption of AI-driven tools and migration from on-premise software to cloud platforms, improving operational efficiency and digital security.</li>
						<li><b>Product Owner at EB Games:</b> Managed the successful integration of <i>Uber delivery</i>, allowing real-time delivery tracking and logistics solutions to enhance customer experience and streamline order fulfillment.</li>
						<li><b>Founder of FoVR Interactive:</b> Established my own VR-focused venture, designing and developing immersive virtual experiences that push the boundaries of spatial computing.</li>
					</ul>
				</div>
			</section>

			<section>
				<h2 class="section-title">Specialties</h2>
				<div class="content">
					<ul>
						<li><strong>Project Management</strong>: Proven leadership in project planning, execution, and delivery, ensuring projects stay on time, within budget, and aligned with business goals.</li>
						<li><strong>Agile and Scrum Methodologies</strong>: Expert in Agile methodologies and Scrum practices, optimizing workflows and improving team performance for efficient project delivery.</li>
						<li><strong>Full Stack Development</strong>: Skilled in end-to-end software development, seamlessly integrating back-end and front-end technologies to create scalable solutions.</li>
						<li><strong>UX/UI Design</strong>:  Focused on user-centric design, enhancing usability, accessibility, and engagement to improve digital experiences.</li>
						<li><strong>Communication</strong>: Strong interpersonal and stakeholder management skills, fostering collaboration across cross-functional teams.</li>
						<li><strong>Emerging Technologies</strong>: Passionate about Extended Reality (XR) and Artificial Intelligence (AI), leveraging cutting-edge tech to drive innovation.</li>
					</ul>
				</div>
			</section>

			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<ul>
						<li><strong>SAE Institute Australia</strong>: Bachelor of Creative Media, Major in Interactive Media</li>
					</ul>
				</div>
			</section>

			<section>
				<h2 class="section-title">Certifications</h2>
				<div class="content">
					<ul>
						<li><strong>Scrum Certification</strong>: Professional Scrum Master I (PSM I)</li>
						<li><strong>Product Owner Certification</strong>: Professional Scrum Product Owner I (PSPO I)</li>
					</ul>
				</div>
			</section>

			<section>
				<h2 class="section-title">Explore My Professional Journey</h2>
				<div class="content">
					<p>My career has taken me from full-stack development to Agile leadership,  
					working across software development, digital transformation, and emerging technologies.  
					Want to see the full story? <a href="https://www.linkedin.com/in/matthewaisthorpe/" target="_blank">
							View My LinkedIn Profile
						</a></p>
				</div>
			</section>

			<section>
				<h2 class="section-title">FoVR Interactive</h2>
				<div class="content">
					<p>
						<strong>FoVR Interactive</strong> is my business dedicated to exploring and publishing work in 
						XR, spatial computing, and immersive technology. It serves as a professional platform where I develop 
						and showcase interactive applications, virtual collaboration tools, and cutting-edge extended reality experiences.
					</p>
					<p>
						Learn more at <a href="https://fovrinteractive.net/" target="_blank">FoVR Interactive</a>.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Beardy Dev Adventures</h2>
				<div class="content">
					<p>
						Outside of my professional work, I run <strong>Beardy Dev Adventures</strong>, 
						where I explore my interestings game development, XR, and emerging technologies through videos, blogs, and projects. 
						It is a space where I share insights, tutorials, and experiments in game development and interactive media.
					</p>
					<p>
						Check out the <a href="https://www.youtube.com/@beardydevadventures" target="_blank">YouTube channel</a>.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

	.content ul {
		list-style-type: disc;  /* Ensures bullet points */
		padding-left: 1.5rem;  /* Adds space for bullets */
	}

	.content p, .content ul li {
		margin-bottom: 0.5rem;  /* Adds spacing between list items */
	}
</style>
