---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PostPreview from '../components/PostPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="My Blog | Matthew Aisthorpe"
	description="Read more from my blog"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Blog"
				tagline="Sharing my insights and experiences on tech, trends, and more."
			/>
			<Grid variant="offset">
				{
					posts.map((post) => (
						<li>
							<PostPreview post={post} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
