---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import CallToAction from '../components/CallToAction.astro';
import Icon from '../components/Icon.astro';
import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="My Projects | Matthew Aisthorpe"
	description="Learn about Matthew Aisthorpe's most recent projects"
>
	<div class="stack gap-20">

		<main class="wrapper stack gap-8">
			<CallToAction href="https://www.linkedin.com/in/matthewaisthorpe/">
				View My Professional Journey on LinkedIn
				<Icon icon="arrow-right" size="1.2em" />
			</CallToAction>

			<Hero
				title="My Personal Projects"
				tagline="Explore my latest projects in game development, XR, and emerging technologies."
				align="start"
			/>

			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
