---
interface Props {
	title: string;
	subheading?: string;
	tagline?: string;
	align?: 'start' | 'center';
}

const { align = 'center', subheading, tagline, title } = Astro.props;
---

<div class:list={['hero stack gap-4', align]}>
	<div class="stack gap-2">
		<h1 class="title">{title}</h1>
		{subheading && <p class="subheading">{subheading}</p>}
		{tagline && <p class="tagline">{tagline}</p>}
	</div>
	<slot />
</div>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}

	.title,
	.subheading,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-3xl);
		color: var(--gray-0);
		text-wrap: balance;
	}

	.tagline {
		color: var(--gray-300);
		text-wrap: pretty;
	}

	.subheading {
		color: var(--brand-warm);
		font-family: var(--font-brand);
		font-size: var(--text-lg);
		font-weight: 500;
		line-height: 1.25;
		text-wrap: balance;
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .subheading,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-5xl);
			max-width: 12ch;
		}

		.subheading {
			font-size: var(--text-xl);
			max-width: 28ch;
		}
	}
</style>
