---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="kanban" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Agile PM</h2>
		<p>As an Agile Product Manager, I lead with a focus on collaboration and efficiency, building cohesive teams that deliver projects with high standards and innovative solutions.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack Developer</h2>
		<p>My expertise lie in managing both backend and frontend aspects of web development. Creating solutions that span the entire technology stack.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="plant" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Innovative</h2>
		<p>I'm passionate about exploring cutting-edge technologies in AI and XR to develop transformative solutions that enhance user experiences and solve real-world problems.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
