---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="kanban" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Digital Delivery & Leadership</h2>
		<p>I lead cross-functional teams delivering enterprise platforms, AI-enabled workflows, and immersive XR experiences. My work includes large-scale digital transformation initiatives across education, retail, and commercial environments.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full-Stack & Platform Development  </h2>
		<p>With a strong software engineering background, I build and integrate modern web platforms, APIs, and cloud-based systems that support scalable, user-centred delivery.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="plant" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>XR & Immersive Innovation</h2>
		<p>Through FoVR Interactive and client work, I design and deliver XR experiences across VR, MR, and spatial computing. Projects including Smash Room, which has surpassed 1,000 downloads across Meta Quest and Steam.</p>
	</div>

</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
