---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="kanban" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Agile PM</h2>
		<p>I lead cross-functional teams to deliver high-impact projects in retail, education, and digital transformation. With expertise in Scrum, backlog management, and Agile workflows, I foster collaboration to drive efficient and innovative solutions.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack Developer</h2>
		<p>I build scalable full-stack solutions across web and XR. Specialising in backend and frontend integration, I create high-performance applications using Unity, Tailwind CSS, and modern web frameworks.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="plant" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Innovative</h2>
		<p>Passionate about spatial computing, AI, and XR, I explore cutting-edge tech to develop immersive experiences and procedural systems. I thrive on pushing boundaries to create engaging, forward-thinking solutions.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
